project:
  type: website
  output-dir: docs
  render:
    - "*.qmd"
    - "!readme.qmd"
website:
  title: "biostat777-intro-Mo-Wang"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: example_analysis.qmd
        text: Example analysis
        
        
      

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



